
body{
     margin: 0;
     
}

header {
    background-color: #FFC017;
    width: 100%;
    height: 5rem;
    border-bottom: solid 1px black;
    position: fixed;
    
}

header img {
    width: 200px;
    height: 50px;
}
.home {
    background-color: #FFC017;
    width: 100%;
    height: 530px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px black;

}
.text_home{

    margin: 0 14vw;
    display: flex;
    flex-direction: column;
    

}

.title {

    font-size: 110px;
    font-weight: bold;
    margin: 0;

}
.title p {
    margin: 0;
}

.subtitle {
    font-size: 25px;
    width: 65%;

}
.text_home .bottom {

    border-radius: 20px;
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 25px;
}



.toolbar {
    display: flex;
    justify-content:space-between;
    margin: 0 13vw;
    height: 100%;
    align-items: center;
}

.tool {
    display: flex;
    align-items: center;
}



.tool div {

    border-radius: 15px;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
   
}


.mr {
    margin-right: 1em;
    font-weight: bold;
}

.boxes {
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: solid 1px black;   
    padding-bottom: 3rem;
    

}
.box {
    display: flex;
    
}

.name {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.info div h3,p {

    margin: 0.5vh 0;
}

.info div {

    width: 22rem;
}

.info div p {

    color: gray;
} 

.name img{

    height: 20px;
    width: 20px;
    border-radius: 20px;
}


#Trend  {
    margin-left: 14vw;
    margin-top: 2rem;
    display: flex;
    
}
#Trend p {

    margin-left: 0.7vw;
}

section {
    display: flex;
    margin: 0 10vw;
    justify-content: space-between;
}

.news {

    width: 60%;
}

.news_item {

    display: flex;
}

.Twitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contact {
    position: sticky;
    top: 5.1rem;
    height: 500px;
    width: 400px;
    
    
}
.topic {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: flex-start;
    

    
}
.topic p {
    padding: 8px 15px;
}

.Follow {
    display: flex;
    justify-content: space-between;
}
.Follow img {

    height: 50px;
    width: 50px;
    border-radius: 50px;
}