
body{
     margin: 0;
     
}

header {
    background-color: #FFC017;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px black;
    position: sticky;
    top: 0;
}
.home {
    background-color: #FFC017;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px black;

}
.text_home{

    margin: 0 10vw;

}
.text_home p {

    font-size: 110px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
}
.toolbar {
    display: flex;
    justify-content:space-between;
    margin: 0 10vw;
    line-height: 50px;
}

.tool span {
    margin-right: 1em;
}

.boxes {
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: solid 1px black;   
    padding-bottom: 3rem;
    

}
.box {
    display: flex;
   
}

.box p {
    margin: 0.2rem 0.5rem;
}

#Trend  {
    margin-left: 10vw;
    margin-top: 3rem;
}

section {
    display: flex;
    margin: 0 10vw;
    justify-content: space-between;
}

.news {

    width: 60%;
}

.news_item {

    display: flex;
}

.Twitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contact {
    position: sticky;
    top: 51px;
    height: 500px;
    width: 400px;
    
    
}
.topic {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: flex-start;
    

    
}
.topic p {
    padding: 8px 15px;
}

.Follow {
    display: flex;
    justify-content: space-between;
}
.Follow img {

    height: 50px;
    width: 50px;
    border-radius: 50px;
}